mat-card{
    border:1px solid black;
    width:90%;
    margin: 0.5rem auto;

    h1{
        letter-spacing: 1px;
        text-align: center;
    }
    
}

mat-nav-list{
    margin-top: 1rem;;
    a{
        &.active-link{
            background-color: rgba($color:white, $alpha:0.2);
            color: var(--mat-sys-on-primary-container);
        }
    }
}